<header class="sans-serif">
  {% if page.image %}
    <div class="cover bg-left bg-center-l" style="background-image: url({{ page.image  | relative_url }})">
  {% else %}
    <div class="cover bg-left bg-center-l" style="background-image: url({{ 'assets/images/15/15-0.jpg'  | relative_url }})">
  {% endif %}
    <div class="bg-black-50 pb5 pb6-m pb7-l">
      <nav class="dt w-100 mw8 center">
        <div class="dtc v-mid">
          <a href="{{ "/" | relative_url}}" class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3"><strong>{{ site.title | escape }}</strong></a>
        </div>
        <div class="dtc v-mid tr pa3">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
          <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" href="/" >Sign Up</a>
        </div>
      </nav>
      <div class="tc-l mt4 mt5-m mt6-l ph3">
        <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">
          {% if page.title %}
            {{page.title}}
          {% else %}
            {{site.headline}}
          {% endif %}
        </h1>
        <h2 class="fw1 f3 white-80 mt3 mb4 measure-wide center">
          {% if page.excerpt %}
            {{page.excerpt | truncate(50) }}
          {% else %}
            {{site.subheadline}}
          {% endif %}
        </h2>
        <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" href="/">Call to Action</a>
        <span class="dib v-mid ph3 white-70 mb3">or</span>
        <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="">Secondary call to action</a>
      </div>
    </div>
  </div>
</header>
